<?xml version="1.0" encoding="utf-8"?>
<Settings Version="8.6">
    <SnapFlags V="127"/>
    <MouseSensitive V="1.5"/>
    <GridSnapDist V="6"/>
    <VertexSnapeDist V="8"/>
    <ConnectSnapeDist V="10"/>
    <GuideLineSnapDist V="10"/>
    <AidsSnapDist V="8"/>
    <AidsDisplayDist V="6"/>
    <MinValidDist V="5"/>
    <MinValidSize V="10"/>
    <Angle15SnapDist V="80"/>
    <Angle10SnapDist V="120"/>
    <Angle5SnapDist V="160"/>
    <Angle1SnapDist V="220"/>
    <ConLineMinDis V="6"/>
    <HideCptsMinSize V="21"/>
    <AutoSaveElapse V="600"/>
    <CheckForUpdatesAtStart V="TRUE"/>
    <UndoLevel V="60"/>
    <RecentTemplates V="20"/>
    <RecentFileNum V="50"/>
    <AntiAlias V="TRUE"/>
    <TextAntiAlias V="TRUE"/>
    <SpellCheck V="TRUE"/>
    <MetricUnits V="1"/>
    <HideFloatButton V="FALSE"/>
    <DefaultTheme V="1"/>
    <DefaultQuickStyle V="44"/>
    <MarginX V="37.7953"/>
    <MarginY V="37.7953"/>
    <RectWidth V="100"/>
    <RectHeight V="22"/>
    <RoundRectWidth V="160"/>
    <RoundRectHeight V="100"/>
    <RoundRadius V="16"/>
    <EllipseWidth V="160"/>
    <EllipseHeight V="100"/>
    <PolygonRadius V="40"/>
    <PolygonEageNum V="6"/>
    <StarInterRadius V="35"/>
    <StarOuterRadius V="70"/>
    <StarVertexNum V="5"/>
    <HelixClockWise V="TRUE"/>
    <HelixDecreasePer V="0.8"/>
    <HelixRadius V="233"/>
    <HelixSegNum V="10"/>
    <ArcRate V="0.55"/>
    <ArcWidth V="140"/>
    <ArcHeight V="70"/>
    <ArcClosed V="FALSE"/>
    <LineLength V="103"/>
    <LineAngle V="45"/>
    <ExpSize V="0"/>
    <ExpZoom V="1"/>
    <ExpShapes V="2"/>
    <ExpSolution V="0"/>
    <ExpSolutionX V="96"/>
    <ExpSolutionY V="96"/>
    <ExpUnit V="pixel"/>
    <HpScale V="50"/>
    <mmMajor V="20"/>
    <mmMinor V="10"/>
    <mmAutoLayout V="TRUE"/>
    <OrgAutoLayout V="TRUE"/>
    <OrgVerDist V="16"/>
    <OrgHorDist V="16"/>
    <OrgHorAss V="8"/>
    <OfficeExpAsGroup V="TRUE"/>
    <OfficeExpAllPages V="TRUE"/>
    <OfficeExpBkgrd V="TRUE"/>
    <OfficeExpZoom V="76"/>
    <WordExpZoom V="60"/>
    <ExcelExpZoom V="100"/>
    <OfficeExpAutoSize V="TRUE"/>
    <HtmlTitle V="TRUE"/>
    <HtmlSingle V="TRUE"/>
    <HtmlPreview V="TRUE"/>
    <HtmlGrid V="FALSE"/>
    <SvgType V="1"/>    
    <PaperColor V="#ffffff"/>
    <PageGridColor V="#dcdcdc"/>
    <DateFormat V="M/d/yyyy"/>
    <CurrencyUnit V="USD"/>
    <WindowPos X="0" Y="0" Width="0" Height="0"/>
    <MultiInstances V="FALSE"/>
</Settings>
